<%= form_for(@admin) do |f| %>
  <% if @admin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin.errors.count, "error") %> prohibited this admin from being saved:</h2>

      <ul>
      <% @admin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </div>

    <% if 1==current_user.issuper %>
      <div class="field">
        <%= f.label :"Authority?" %><br>
        <%= f.select(:issuper,[['Admin',1]]) %>
      </div>
    <% elsif 2==current_user.issuper %>
        <%= f.label :"Authority?" %><br>
        <%= f.select(:issuper,[['Admin',1],['SuperAdmin',2]]) %>
    <% end %>
  <br><br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
