<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @admin.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @admin.name %>
</p>

<p>
  <strong>Authority:</strong>
  <%= "Admin" if @admin.issuper==1 %>
  <%= "SuperAdmin" if @admin.issuper==2%>
</p>

<%= link_to "Edit Profile", edit_admin_path(@admin) %> |
<%= link_to 'Admin Lists', admins_path %>
