<p id="notice"><%= notice %></p>

<h1>Listing Customers</h1>

<table>
  <thead>
  <tr>
    <th>Email</th>
    <th>Name</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.email %></td>
        <td><%= customer.name %></td>
        <td><%= link_to 'Checkout History', "#{reservations_path}?task=1&customer_id=#{customer.id}" %></td>
        <% reservation = customer.current_reservation
           if reservation
             car = reservation.car
             if 2 == car.status %>
                <td><%= link_to 'Help check out car', "#{checkout_path}?car_id=#{car.id}&customer_id=#{customer.id}" %></td>
            <% elsif 1 == car.status %>
                <td><%= link_to 'Help return car', "#{checkin_path}?car_id=#{car.id}&customer_id=#{customer.id}" %></td>
            <% end %>
        <% else %>
            <td><%= link_to 'Help reserve car', "#{cars_path}?task=1&customer_id=#{customer.id}" %></td>
        <% end %>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create a New Customer', new_customer_path %>|
<%= link_to 'Back', current_user%>