<p id="notice"><%= notice %></p>

<% if @unread_reservations %>
  <table>
    <tbody>
    <% @unread_reservations.each do |reservation| %>
        <tr>
          <td id="notice">
            Your car <%= link_to reservation.car.info, reservation.car %> has already been returned!
          </td>
          <td><%= link_to 'Dismiss', dismiss_message_path(reservation) %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<% if @reservation %>
  <p>
    <strong>Rental Charge:</strong>
    <%= @reservation.rental_charge %>
  </p>

  <% if @reservation.status == 0 %>
    <p>
      <%= link_to "Car: #{@reservation.car.info}", @reservation.car %>
    </p>
    <p>
      <%= link_to 'Reservation', @reservation %>
    </p>
  <% end %>
<% end %>

<%= link_to 'Edit Profile', @url[:edit] if @url[:edit] %>
<br><br>
<%= "Function: " %>

<% if @url[:rent_car] %>
  <%= link_to "List Cars", @url[:rent_car] %>|
<% end %>

<%= link_to 'Checkout history', @url[:history] %>

<% if @url[:back] %>
    |<%= link_to "Back", @url[:back] %>
<% end %>