<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<% if @reservation %>
  <p>
    <strong>Rental Charge:</strong>
    <%= @reservation.rental_charge %>
  </p>

  <% if @reservation.status == 0 %>
    <p>
      <%= link_to 'My reserved car', @reservation.car %>
    </p>
    <p>
      <%= link_to 'My reservation', @reservation %>
    </p>
  <% end %>
<% end %>

<%= link_to 'Edit Profile', @url[:edit] if @url[:edit] %>
<br><br>
<%= "Function: " %>

<% if @url[:rent_car] %>
  <%= link_to "Rent Cars", @url[:rent_car] %>|
<% end %>

<%= link_to 'Checkout history', @url[:history] %>

<% if @url[:back] %>
    |<%= link_to "Back", @url[:back] %>
<% end %>