<%= form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field(:rental_charge, :value => 0) %>
  <%= f.hidden_field(:customer_id, :value => session[:user_id]) %>
  <%= f.hidden_field(:car_id, :value => @car.id) %>

  <div class="field">
    <%= f.label :reserved_time %><br>
    <%= Time.use_zone("Eastern Time (US & Canada)"){f.datetime_select :reserved_time} %>
  </div>
  <div class="field">
    <%= f.label :reserved_hours %><br>
    <%= f.number_field(:reserved_hours, in: 1..10, step: 1, :value => 1) %>
  </div>
  <div class="actions">
    <% unless   %>
    <%= f.submit %>
    <% end %>
  </div>
<% end %>
