<p id="notice"><%= notice %></p>

<h1>Reservation</h1>

<p>
  <strong>Status:</strong>
  <%= @status[@reservation.status] %>
</p>

<p>
  <strong>Customer:</strong>
  <%= link_to @reservation.customer.name, @reservation.customer %>
</p>

<p>
  <strong>Reserved time:</strong>
  <%= @reservation.reserved_time %>
</p>

<%if @reservation.checkout_time %>
  <p>
    <strong>Check out time:</strong>
    <%= @reservation.checkout_time %>
  </p>
<% end %>

<%if @reservation.end_time %>
  <p>
    <strong>Check in time:</strong>
    <%= @reservation.end_time %>
  </p>

  <p>
    <strong>Rental charge:</strong>
    <%= sprintf("$ %0.02f", @reservation.rental_charge) %>
  </p>
<% end %>

<p>
  <%= link_to 'Back to Main Menu', current_user %>
</p>
<% if [1,2].include?(session[:user_type]) %>
<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
<% end %>