<p id="notice"><%= notice %></p>

<h1>Reservation</h1>

<p>
  <strong>Status:</strong>
  <%= @status[@reservation.status] %>
</p>

<p>
  <strong>Car:</strong>
  <% if @reservation.car %>
    <%= link_to @reservation.car.info, @reservation.car %>
  <% else %>
      This car has already been deleted
  <% end %>

</p>

<p>
  <strong>Customer:</strong>
  <% if @reservation.customer %>
    <%= link_to @reservation.customer.name, @reservation.customer %>
  <% else %>
      This customer has already been deleted
  <% end %>

</p>

<p>
  <strong>Reserved time:</strong>
  <%= @reservation.reserved_time %>
</p>

<%if @reservation.checkout_time %>
  <p>
    <strong>Check out time:</strong>
    <%= @reservation.checkout_time %>
  </p>
<% end %>

<%if @reservation.end_time %>
  <p>
    <strong>Check in time:</strong>
    <%= @reservation.end_time %>
  </p>

  <p>
    <strong>Rental charge:</strong>
    <%= sprintf("$ %0.02f", @reservation.rental_charge) %>
  </p>
<% end %>

<% if 0==@reservation.status %>
    <% if @reservation.car.status==2 %>
        <p>
          <%= link_to 'Check out', "#{checkout_path}?car_id=#{@reservation.car.id}" %>
        </p>
    <% elsif @reservation.car.status==1 %>
        <p>
          <%= link_to 'Return', "#{checkin_path}?car_id=#{@reservation.car.id}" %>
        </p>
    <% end %>
    <p>
      <%= link_to 'Cancel reservation', "#{close_path}?reservation_id=#{@reservation.id}" %>
    </p>
<% end %>

  <% if [1,2].include?(session[:user_type]) %>
  <%= link_to 'Edit', edit_reservation_path(@reservation) %> |
  <% end %>
<%= link_to 'Back to Main Menu', current_user %>
