<p id="notice"><%= notice %></p>

<h1>Listing Cars</h1>

<table>
  <thead>
    <tr>
      <th>Manufacturer</th>
      <th>Model</th>
      <th>Style</th>
      <th>Licenceplatenumber</th>
      <th>Location</th>
      <th>Status</th>
      <th>Hourlyrentalrate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.manufacturer %></td>
        <td><%= car.model %></td>
        <td><%= car.style %></td>
        <td><%= car.licencePlateNum %></td>
        <td><%= car.location %></td>
        <td><%=  "Avaliable" if car.status == 0 %>
        <%= "Checked out" if car.status == 1 %>
        <%= "Rserved" if car.status == 2 %></td>
        <td><%= car.hourlyRentalRate %></td>
        <td><%= link_to 'Show', car %></td>
	<% if [1, 2].include?(session[:user_type]) %>
        <td><%= link_to 'Edit', edit_car_path(car) %></td>
        <td><%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= form_tag cars_path, method: :get do %>
    <%= label_tag(:sstyle, "Input the style") %>
    <%= text_field_tag :sstyle %>
    <%= label_tag(:slocation, "Input the location") %>
    <%= text_field_tag :slocation %>
    <%= label_tag(:smodel, "Input the model") %>
    <%= text_field_tag :smodel %>
    <%= label_tag(:smanufacturer, "Input the manufacturer") %>
    <%= text_field_tag :smanufacturer %>
    <%= label_tag(:sstatus, "Input the status") %>
    <%= text_field_tag :sstatus %>
    <%= submit_tag "search" %>
 <% end %>
<br/>
<%= link_to 'New Car', new_car_path %>
