<p id="notice"><%= notice %></p>

<h1>Listing Cars</h1>

<table>
  <thead>
    <tr>
      <th>Manufacturer</th>
      <th>Model</th>
      <th>Style</th>
      <th>Licenceplatenumber</th>
      <th>Location</th>
      <th>Status</th>
      <th>Hourlyrentalrate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.manufacturer %></td>
        <td><%= car.model %></td>
        <td><%= car.style %></td>
        <td><%= car.licencePlateNum %></td>
        <td><%= car.location %></td>
        <td><%=  "Avaliable" if car.status == 0 %>
        <%= "Checked out" if car.status == 1 %>
        <%= "Rserved" if car.status == 2 %></td>
        <td><%= car.hourlyRentalRate %></td>
	<% if [1, 2].include?(session[:user_type]) %>
        <td><%= link_to 'Details', "#{car_path(car)}?car_id=#{car.id}&customer_id=#{@customer.id}"%></td>
        <td><%= link_to 'Edit', edit_car_path(car) %></td>
        <td><%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<% else %>
        <td><%= link_to 'Details', car %></td>
  <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


<% if [1, 2].include?(session[:user_type]) %>
    <%= link_to 'Create a New Car', new_car_path %>|
<% end %>
<%= link_to "Back", current_user %>
<br><br><br>

<%= "Search Engine:"%>
<br>
<%= form_tag cars_path, method: :get do %>
    <%= label_tag(:sstyle, "Input the style") %>
    <%= select_tag :sstyle, options_for_select(Car.all.map {|a| a.style})%>  <br>
    <%= label_tag(:slocation, "Input the location") %>
    <%= select_tag :slocation, options_for_select(Car.all.map {|a| a.location})%>
    <%= label_tag(:smodel, "Input the model") %>
    <%= select_tag :smodel, options_for_select(Car.all.map {|a| a.model})%>
    <%= label_tag(:smanufacturer, "Input the manufacture") %>
    <%= select_tag :smanufacturer, options_for_select(Car.all.map {|a| a.manufacturer})%>
    <%= label_tag(:sstatus, "Input the status") %>
    <%= select_tag :slocation, options_for_select(Car.all.map {|a| a.status})%>
    <%= submit_tag "search" %>
<% end %>