<p id="notice"><%= notice %></p>

<h1>Listing Cars</h1>

<table>
  <thead>
    <tr>
      <th>Manufacturer</th>
      <th>Model</th>
      <th>Style</th>
      <th>Licenceplatenumber</th>
      <th>Location</th>
      <th>Status</th>
      <th>Hourlyrentalrate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <% url_params = car.availalbe_params(session[:user_type], @task, @customer ? @customer.id: nil) %>
      <tr>
        <td><%= car.manufacturer %></td>
        <td><%= car.model %></td>
        <td><%= car.style %></td>
        <td><%= car.licencePlateNum %></td>
        <td><%= car.location %></td>
        <td><%=  "Available" if car.status == 0 %>
        <%= "Checked out" if car.status == 1 %>
        <%= "Reserved" if car.status == 2 %></td>
        <td><%= car.hourlyRentalRate %></td>
        <% if [1, 2].include?(session[:user_type]) %>
            <td><%= link_to 'Details', "#{car_path(car)}?car_id=#{car.id}#{@parameters}"%></td>
            <td><%= link_to 'Edit', edit_car_path(car) %></td>
            <td><%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
            <td><%= link_to 'Details', car %></td>
        <% end %>
        <td><%= link_to 'Reserve', "#{new_reservation_path}#{url_params[:reserve]}" if url_params[:reserve] %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<% if [1, 2].include?(session[:user_type]) %>
    <%= link_to 'Create a New Car', new_car_path %>|
<% end %>
<%= link_to "Back", current_user %>
<br><br><br>

<%= "Search Engine:"%>
<br>
<%= form_tag cars_path, method: :get do %>
    <%= hidden_field_tag(:task, @task) %>
    <%= hidden_field_tag(:customer_id, @customer.id) if @customer %>
    <%= label_tag(:smanufacturer, "Manufacturer") %>
    <%= select_tag :smanufacturer, options_for_select(Car.all.map {|a| a.manufacturer}.uniq.push("---"), "---") %>
    <%= label_tag(:smodel, "Model") %>
    <%= select_tag :smodel, options_for_select(Car.all.map{|a| a.model}.uniq.push("---"), "---") %>
    <%= label_tag(:sstyle, "Style") %>
    <%= select_tag :sstyle, options_for_select(Car.all.map {|a| a.style}.uniq.push("---"), "---") %>
    <%= label_tag(:slocation, "Location") %>
    <%= select_tag :slocation, options_for_select(Car.all.map {|a| a.location}.uniq.push("---"), "---") %>
    <%= label_tag(:sstatus, "Status") %>
    <%= select_tag :sstatus, options_for_select([["Available", 0], ["Checked out", 1], ["Reserved", 2], ["---", -1]], @car_status_default) %>
    <%= submit_tag "search" %>
<% end %>