<p id="notice"><%= notice %></p>

<p>
  <strong>Manufacturer:</strong>
  <%= @car.manufacturer %>
</p>

<p>
  <strong>Model:</strong>
  <%= @car.model %>
</p>

<p>
  <strong>Style:</strong>
  <%= @car.style %>
</p>

<p>
  <strong>Licenceplatenumber:</strong>
  <%= @car.licencePlateNumber %>
</p>

<p>
  <strong>Location:</strong>
  <%= @car.location %>
</p>

<p>
  <strong>Status:</strong>
  <%= @car.status %>
</p>

<p>
  <strong>Hourlyrentalrate:</strong>
  <%= @car.hourlyRentalRate %>
</p>

<%= link_to 'Reserve', "#{new_reservation_path}?car_id=#{@car.id}" %> |
<%= link_to 'Check out', "#{checkout_path}?car_id=#{@car.id}" %> |
<% if @car.status == 1 %>
    <%= link_to 'Check in', "#{checkin_path}?car_id=#{@car.id}" %> |
<% end %>
<%= link_to 'Car history', "#{reservations_path}?task=2&car_id=#{@car.id}" %> |
<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
