<p id="notice"><%= notice %></p>

<p>D
  <strong>Manufacturer:</strong>
  <%= @car.manufacturer %>
</p>

<p>
  <strong>Model:</strong>
  <%= @car.model %>
</p>

<p>
  <strong>Style:</strong>
  <%= @car.style %>
</p>

<p>
  <strong>Licenceplatenumber:</strong>
  <%= @car.licencePlateNum %>
</p>

<p>
  <strong>Location:</strong>
  <%= @car.location %>
</p>

<p>
  <strong>Status:</strong>
  <%=  'Available' if @car.status == 0 %>
  <%=  'Checked out' if @car.status == 1 %>
  <%=  'Reserved' if @car.status == 2 %>
</p>

<p>
  <strong>Hourlyrentalrate:</strong>
  <%= @car.hourlyRentalRate %>
</p>

<% if @url_params[:reserve] %>
    <%= link_to 'Reserve', "#{new_reservation_path}#{@url_params[:reserve]}" %> |
<% end %>
<% if @url_params[:checkout] %>
    <%= link_to 'Check out', "#{checkout_path}#{@url_params[:checkout]}" %> |
<% end %>
<% if @url_params[:checkin] %>
    <%= link_to 'Return', "#{checkin_path}#{@url_params[:checkin]}" %> |
<% end %>
<% if @url_params[:history] %>
    <%= link_to 'Car Rental history', "#{reservations_path}#{@url_params[:history]}" %> |
<% end %>

<%= link_to 'Back to car list', "#{cars_path}#{@url_params[:back]}" %>

