<p id="notice"><%= notice %></p>

<p>D
  <strong>Manufacturer:</strong>
  <%= @car.manufacturer %>
</p>

<p>
  <strong>Model:</strong>
  <%= @car.model %>
</p>

<p>
  <strong>Style:</strong>
  <%= @car.style %>
</p>

<p>
  <strong>Licenceplatenumber:</strong>
  <%= @car.licencePlateNum %>
</p>

<p>
  <strong>Location:</strong>
  <%= @car.location %>
</p>

<p>
  <strong>Status:</strong>
  <%=  'Available' if @car.status == 0 %>
  <%=  'Checked out' if @car.status == 1 %>
  <%=  'Reserve' if @car.status == 2 %>
</p>

<p>
  <strong>Hourlyrentalrate:</strong>
  <%= @car.hourlyRentalRate %>
</p>

<% if @url[:reserve] %>
    <%= link_to 'Reserve', @url[:reserve] %> |
<% end %>
<% if @url[:checkout] %>
    <%= link_to 'Check out', @url[:checkout] %> |
<% end %>
<% if @url[:checkin] %>
    <%= link_to 'Return', @url[:checkin] %> |
<% end %>
<% if @url[:history] %>
    <%= link_to 'Car Rental history', @url[:history] %> |
<% end %>

<%= link_to 'Back', cars_path %>

