<p id="notice"><%= notice %></p>

<p>D
  <strong>Manufacturer:</strong>
  <%= @car.manufacturer %>
</p>

<p>
  <strong>Model:</strong>
  <%= @car.model %>
</p>

<p>
  <strong>Style:</strong>
  <%= @car.style %>
</p>

<p>
  <strong>Licenceplatenumber:</strong>
  <%= @car.licencePlateNum %>
</p>

<p>
  <strong>Location:</strong>
  <%= @car.location %>
</p>

<p>
  <strong>Status:</strong>
  <%=  'Available' if @car.status == 0 %>
  <%=  'Checked out' if @car.status == 1 %>
  <%=  'Reserve' if @car.status == 2 %>
</p>

<p>
  <strong>Hourlyrentalrate:</strong>
  <%= @car.hourlyRentalRate %>
</p>

<% if @car.status==0 %>
<%= link_to 'Reserve', "#{new_reservation_path}?car_id=#{@car.id}" %> |
<%= link_to 'Check out', "#{checkout_path}?car_id=#{@car.id}" %> |
<% end %>
<% if @car.status == 1 %>
    <%= link_to 'Check in', "#{checkin_path}?car_id=#{@car.id}" %> |
<% end %>

<% if [1, 2].include?(session[:user_type]) %>
<%= link_to 'Car Rental history', "#{reservations_path}?task=2&car_id=#{@car.id}" %> |
<% end %>

<%= link_to 'Back', cars_path %>
